/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/*-------------------- CSS REST ---------------------------------------------------*/
h1, h2 {
    font-family: "kavoon";
}

text {
    font-family: "Inter", sans-serif;
}

h1 {
    font-size: 3em;
    text-align: center;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.15em;
    color:#484FB7;
}

nav, h2 {
    font-size: 1.5em;
}

body {
    background-color:#484FB7;
    color: white;
    margin-left: 10px;

}

/* Navigation Bar */
nav ul {
    list-style: none;
    color:#1E1E1E;
    font-weight: bold;
    background-color:#E9BB57;
    position: relative;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px; /* Gives the navigation bar a rounded edge */
    float: right;
    display: flex; /* Makes nav go horizontal */
    padding: 10px;
    gap: 25px;
}

header {
    background-color:#6B8FE7;
    justify-content: center;
    text-align: center;
    width: 75%;
    margin-left: 300px;
    color: white;
    padding-top: 10px;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 80px;
}

header p {
    background-color:#D9526F;
    text-align: center;
    padding-top: 15px;
    border-radius: 10px;
    

}
/* End Navigation Segment */

#nav-2 {
    margin-left: 30px;
}

#nav-2 ul {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;
}
#nav-2 li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color:#E9BB57;
    padding-left: 250px;
    
}


/* Middle Section */

#middle {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 30px;

}

#middle-2 {
    display: flex;

    width: 50%;
    margin-left: 20px;
}

/* Box Layout */
#pd {
    display: flex;
    flex-wrap:wrap;
    width: 60%;
    padding: 10px;
    background-color:#ffffff;
    color:#1E1E1E;
    border-radius: 20px;
}

#sc {
    display: flex;
    flex-wrap:wrap;
    background-color:#ffffff;
    color:#1E1E1E;
    width: 60%;
    max-width: 60%;
    padding: 10px;
    border-radius: 20px; 
}

#il {
    display: flex;
    flex-wrap:wrap;
    background-color:#ffffff;
    color:#1E1E1E;
    width: 60%;
    max-width: 60%;
    padding: 10px;
    border-radius: 20px; 
}

#fl {
    display: flex;
    flex-wrap:wrap;
    background-color:#ffffff;
    color:#1E1E1E;
    width: 60%;
    max-width: 60%;
    padding: 10px;
    border-radius: 20px; 
}

/* Box Layout 2nd section */
#cc {
    display: flex;
    flex-wrap:wrap;
    background-color:#ffffff;
    color:#1E1E1E;
    width: 60%;
    max-width: 20%;
    padding: 10px;
    border-radius: 20px; 
    margin-top: 50px;

}

#fs {
    display: flex;
    flex-wrap:wrap;
    background-color:#ffffff;
    color:#1E1E1E;
    width: 60%;
    max-width: 20%;
    padding: 10px;
    border-radius: 20px; 
    margin-top: 50px;
    margin-left: 20px;
}

#rc {
    display: flex;
    flex-wrap:wrap;
    background-color:#ffffff;
    color:#1E1E1E;
    width: 20%;
    margin-top: 50px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 20px; 
}
/* table */
table {
    border: 1px solid;
}

th {
    background-color:#E9BB57;
    color: black;
    padding: 10px;
    border:none;
}

td {
    border: 2px solid #E9BB57;
    height: 25px;
    padding: 10px;
    background-color:#ffffff;
    color: black;
}


/* End Table */

/* -------------------- ROOT VARIABLES --------------------------------------- */
:root {
    font-family: "Inter", serif;
    color:#4CA7C0;
    color:#484FB7;
    color:#6B8FE7;
    color:#E9BB57; 
    color:#D9526F;
    color:#1E1E1E; 
    color:#ffffff; 
    
}
/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
@media screen and (min-width: 450px) {
    body {
        
    }
}
Small- min-width: 450px

/*-------------------- MEDIA QUERY (medium) --------------------------------*/
Medium- min-width: 620px
@media screen and (min-width: 620px) {

}
/*-------------------- MEDIA QUERY (large) ------------------------------------*/
@media screen and (min-width: 950px) {
    body {

    }
}

/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/
XL- min-width: 1280px