/* -------------------- CSS BY NAME -------------------------------------- */
/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/*-------------------- CSS REST ---------------------------------------------------*/
h1, h2 {
    font-family: "kavoon";
}

text {
    font-family: "Inter", sans-serif;
}

h1 {
    font-size: 3em;
}

nav, h2 {
    font-size: 1.5em;
}


/* -------------------- ROOT VARIABLES --------------------------------------- */

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/

/*-------------------- MEDIA QUERY (medium) --------------------------------*/

/*-------------------- MEDIA QUERY (large) ------------------------------------*/

/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/